@import url(base.css);
body{
	background: #000;
}
.box{
	width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
}
.box img,.box1 img{
	margin-top: 40px;
	margin-left: 40px;
}
.box1{
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.box2{
	width: 77px;
	height: 45px;
	background: #ff6700;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}
.box2 i{
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.box2 span{
	text-align: center;
	font-size: 20px;
	color: #fff;

}
.box2 a{
	text-decoration: none;
}
.header{
	margin-top: 40px;
	float: right;
}
.header h3{
	text-align: center;
	color: #cc9900;
	font-size: 20px;
}
.header h4{
	text-align: center;
	color: #fff;
	font-size: 30px;
}
.header1{
	width: 100%;
	height: auto;
	background: #595550;
	display: flex;
	justify-content: space-between;
	border: 1px solid #a09e9b;
	box-sizing: border-box;
}
.header1 a{
	width: 142px;
	height: 49px;
	text-decoration: none;
}
.header1 li{
	font-size: 20px;
	color: #caa78b;
	padding: 10px;
	text-align: center;
}
.header1 a:hover{
	background:#75726d;
}
.header1 li:hover{
	color: #fff;
}
.title2{
	color: #fff;
	animation: color 2s linear infinite forwards;
}
@keyframes color{
  0%{
    transform: translateY(-80px);
  }
  100%{
    transform: translateY(80px);
  }
}


/* >1200px */
@media screen and (min-width: 1200px)
{
	.box1{
   	display: none;
   }
   .box{
   	display: block;
   }
   .title1{
	width: 100%;
	height: 500px;
	background: url('../img/pic1.jpg') no-repeat center;
	border-bottom: 1px solid #fff;
}
}
/* <1200px */
@media screen and (max-width: 1200px)
{
	.box1{
   	display: none;
   }
   .box{
   	display: block;
   }.title1{
	width: 100%;
	height: 400px;
	background: url('../img/pic1.jpg') no-repeat center;
	border-bottom: 1px solid #fff;
}
}
/* <992px */
@media screen and (max-width: 992px)
{
   .box{
   	display: none;
   }
   .box1{
   	display: block;
   }
   .title1{
	width: 100%;
	height: 300px;
	background: url('../img/pic1.jpg') no-repeat center;
	border-bottom: 1px solid #fff;
}
}
/* <768px */
@media screen and (max-width: 768px)
{
	 .box{
   	display: none;
   }
   .box1{
   	display: block;
   }
   .title1{
	width: 100%;
	height: 300px;
	background: url('../img/pic1.jpg') no-repeat center;
	border-bottom: 1px solid #fff;
}
}