@import url(base.css);
body{
	background: #000;
}
.box{
	width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
}
.box img{
	margin-top: 40px;
	margin-left: 40px;
}
.box1 img{
	margin:40px auto;
}
.box1{
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.box2{
	width: 120px;
	height: 45px;
	background: #ff6700;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}
.box2 i{
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.box2 span{
	text-align: center;
	font-size: 20px;
	color: #fff;

}
.box2 a{
	text-decoration: none;
}
.header{
	margin-top: 40px;
	float: right;
}
.header h3{
	text-align: center;
	color: #cc9900;
	font-size: 20px;
}
.header h4{
	text-align: center;
	color: #fff;
	font-size: 30px;
}
.header1{
	width: 100%;
	height: auto;
	background: #595550;
	display: flex;
	justify-content: space-between;
	border: 1px solid #a09e9b;
	box-sizing: border-box;
}
.header1 a{
	width: 142px;
	height: 49px;
	text-decoration: none;
}
.header1 li{
	font-size: 20px;
	color: #caa78b;
	padding: 10px;
	text-align: center;
}
.header1 a:hover{
	background:#75726d;
}
.header1 li:hover{
	color: #fff;
}
.title1{
	width: 100%;
	
	background: url('../img/pic2.jpg') no-repeat center;
	background-size: cover;
	margin-top: 0;
}
.state{
	width: 100%;
	height: auto;
	background: #fff;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
}
.state .state1-top{
	background-image: linear-gradient(to left,#ffffff,#f6f6f6);
	border-top: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
}
.state .state1-top i{
	font-size: 15px;
}
.state .state1-top span{
	font-size: 20px;
	color: #875221;
}
.state .state1-bottom{
	margin-left: 5px;
	margin-top: 10px;
}
.state .state1-bottom a{
	text-decoration: none;
}
.state .state1-bottom span{
	font-size: 15px;
	color: #555;
}
.state .state1-bottom .state1-bottom1 span:last-child{
	float: right;
}
.state1-bottom{
	margin-bottom: 60px;
}
.state2{
	border-bottom:1px dashed #bdbdbd;
	margin-top: 24px;
	padding-bottom: 13px;
}
.state2 i{
	font-size: 9px;
	color: #875221;
}
.state2 span{
	font-size: 18px;
	color: #875221;
}
.finally{
	width: 100%;
	height: auto;
}
.finally h3{
	text-align: center;
	font-size: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
}
/* >1200px */
@media screen and (min-width: 1200px)
{
	.box1{
   	display: none;
   }
   .box{
   	display: block;
   }
   .title1{
   	height: 200px;
   }
   .state .state1-top{
   	width: 80%;
   }
}
/* <1200px */
@media screen and (max-width: 1200px)
{
	.box1{
   	display: none;
   }
   .box{
   	display: block;
   }
   .title2{
		display: none;
	}
	 .title1{
   	height: 200px;
   }
   .state .state1-top{
   	width: 80%;
   }
}
/* <992px */
@media screen and (max-width: 992px)
{
	 .box{
   	display: none;
   }
   .box1{
   	display: block;
   }
    .title1{
   	height: 100px;
   }
   .state .state1-top{
   	width: 25%;
   }
}
/* <768px */
@media screen and (max-width: 768px)
{
	 .box{
   	display: none;
   }
   .box1{
   	display: block;
   }
    .title1{
   	height: 100px;
   }
   .state .state1-top{
   	width: 80%;
   }
   .state1 .state1-top span{
   	font-size: 12px;
   }
   .state1 .state1-bottom span{
   	font-size: 10px;
   }
}